/* 削除予定 */

/* * {
    box-sizing: border-box;
} */

/* body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-header .nav-bar {
    background-color: rgba(0, 255, 0, 0.3);
    padding-left: 10px;
    line-height: 40px;
    font-style: italic;
    font-size: 24px;
} */

/* label {
    display: block;
    margin-bottom: 7px;
    font-size: 86%;
}

input[type="text"] {
    width: 100%;
}

input[type="text"], textarea {
    -webkit-appearance: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 86%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 140px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#message-wrapper .container .info h2 {
    display: inline-block;
    font-size: 80%;
}

#message-wrapper {
    background: #e3e3e3;
}

#message-wrapper .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bbs-wrapper .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info time {
    color: #999;
    line-height: 1.6em;
    font-size: 72%;
}

article {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
}

input[type="submit"] {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 86%;
    line-height: 1.0em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #eb6100;
} */

